<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header">
    <meta charset="UTF-8">
    <title>shendum</title>
    <link rel="stylesheet" media='all' th:href="@{/dist/vendors/bootstrap/css/bootstrap.min.css}"/>
    <link rel='stylesheet' media='all' th:href="@{/dist/vendors/share.js/css/share.min.css}"/>

    <link rel='stylesheet' media='all' th:href="@{/theme/default/css/style.css}"/>
    <link rel='stylesheet' media='all' th:href="@{/theme/default/css/editor.css}"/>
    <link rel='stylesheet' media='all' th:href="@{/dist/css/plugins.css}"/>

    <link rel='stylesheet' media='all' th:href="@{/dist/vendors/simple-line-icons/css/simple-line-icons.css}"/>
    <link rel='stylesheet' media='all' th:href="@{/dist/vendors/font-awesome/css/font-awesome.min.css}"/>
    <link rel='stylesheet' media='all' th:href="@{/dist/vendors/pace/themes/pace-theme-minimal.css}"/>

    <link rel="stylesheet" media="all" th:href="@{/dist/vendors/highlight/styles/github.css}"/>

    <script type="text/javascript" th:src="@{/dist/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/dist/js/jquery-migrate-1.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/dist/vendors/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/dist/vendors/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/dist/vendors/validate/jquery-validate.js}"></script>

    <script type="text/javascript" th:src="@{/theme/default/js/utils.js}"></script>

    <script th:src="@{/dist/vendors/pace/pace.min.js}"></script>

    <script type="text/javascript">
        var _base_path = '${base}';

        window.app = {
            base: '${base}',
            LOGIN_TOKEN: '${profile.id}'
        };

        //window.UEDITOR_HOME_URL = '${base}/dist/vendors/ueditor/';
    </script>

    <script type="text/javascript" src="@{/theme/default/js/sea.js}"></script>
    <script type="text/javascript" src="@{/theme/default/js/sea.config.js}"></script>

    <!-- Favicons -->
    <!--<link rel="apple-touch-icon-precomposed" href="http://mtons.com/dist/images/logo.png"/>-->
    <!--<link rel="shortcut icon" href="http://mtons.com/dist/images/logo.png"/>-->
</head>
<body>

</body>
</html>